/* index Page CSS */
.first-page {
    background-image: url("../images/table.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f4f4f4;
    font-family: 'Irish Grover', sans-serif;
    font-size: 30px;
   
    min-height: 100vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(165, 150, 150, 0.418);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.btn{
    background-color: #c732d4;
    color: #fff;
    padding: 20px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 30px;
}

.btn:hover {
    background-color: #d200e6;
}

.container.center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; Optionally set the height to center vertically */
}
/* TBA */


/* play1 style*/
label {
    margin: 5px;
    padding: 8px;
    font-size: 25px;
    background-color: #c732d4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .row-margin {
    margin-top: 10px;
  }